:root {
	--black: #1a1212;
	--white: #faf6f1;
	--accent: #d4a055;
	--main: #e8ddd0;
	--dark: #3b2f2f;
}

* {
	margin: 0;
	padding: 0;
}

/* Nav Styles */

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 20px;
	background-color: var(--dark);
	color: var(--main);
	overflow-x: hidden;
	font-family: "Baskervville", serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

.sidenave img {
	width: 10%;
	height: auto;
	margin-bottom: 20px;
}

#bar {
	height: 3px;
	width: 100%;
	background-color: var(--accent);
	margin-bottom: 20px;
}

.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: var(--main);
	display: block;
}

/* Hero Styles */

#hero {
	justify-content: center;
	height: fit-content;
	background-color: var(--white);
	color: var(--black);
	font-family: "Baskervville", serif;
	padding: 0 20px;
}

#hero h1 {
	font-size: 90px;
	margin-bottom: 20px;
}

#hero p {
	font-size: 30px;
	margin-bottom: 20px;
}

/* About Styles */

#about {
	justify-content: center;
	height: fit-content;
	background-color: var(--white);
	color: var(--black);
	font-family: "Baskervville", serif;
	padding: 0 20px;
}

#about h2 {
	font-size: 40px;
	margin-bottom: 20px;
}
#about p {
	font-size: 15px;
	margin-bottom: 20px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 30%;
}
