:root {
	--black: #1a1212;
	--white: #faf6f1;
	--accent: #d4a055;
	--main: #e8ddd0;
	--dark: #3b2f2f;
}

* {
	margin: 0;
	padding: 0;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--dark);
	color: var(--main);
	overflow-x: hidden;
}
